$white: #ffffff;

$primary: #e15e98;
$primary_hover: #d65990;
$primary_active: #e75293;
$primary_disabled: #e15e987f;

$primary_outline: #ca4680;
$primary_outline_hover: #c23574;
$primary_outline_active: #d72272;
$primary_outline_disabled: #d7227299;

$secondary: #245979;
$secondary_hover: #235472;
$secondary_active: #195c84;
$secondary_disabled: #2459797f;

$secondary_outline: $secondary;
$secondary_outline_hover: $secondary_hover;
$secondary_outline_active: $secondary_active;
$secondary_outline_disabled: $secondary_disabled;